div.where{
	display:inline-block;
	width:30%;
	z-index:-1;
	margin:50px;
}

.href{
	height:50px;
	margin-top:25px;
	margin-bottom:50px;

}

.href input{
	width:135px;
}


.top{
	text-align:center;
}


#text{
	font-size:12px;
}

#scores{
	height:70px;
	width:130px;
	text-align:center;
}

.left-border{
	display:inline-block;
	text-align:left;
	vertical-align:top;
	width:150px;
}


.right-border{
	display:inline-block;
	text-align:right;
	vertical-align:top;
	width:150px;
	position:relative;
}

#window_for_clients{
	border:5px solid black;
	position:absolute;
	top:-190px;
	left:0;
	width:200px;
	height:330px;
}



div.where:hover{
	border:1px solid blue;
	border-radius:0px;
	z-index:1;
}

h2{
	text-align:center;
	margin-top:300px;
}


#bottom{
	text-align:left;
	font-size:14px;
}



a.sciences{
	margin:10px;
}

a.sciences:hover{
	border:1px solid blue;
	border-radius:5px;
}